/* Comments */
.comments {
    margin: 15px 0 40px 0;
}
.simple-comments{
    margin-bottom: 0;
    margin-top: 0;
}
.simple-comments .comment-box-partial{
    padding: 0 10px 0 20px;
}

.simple-comments  .comment-box textarea{
    border: none;
    padding-left: 20px;
}
.simple-comments .comment-form-container{
    border-top: solid 1px #e7e9ef;
}
.simple-comments .comment-form-container .file-loading:before{
    display: none;
}
.comments .comments-list {
    list-style: none;
    padding: 0;
}

.comments .comment-author-avatar {
    float: left;
    width: 42px;
}

.comments .comment-details {
    padding-left: 57px;
}

.comments .comment-content {
    background: -webkit-linear-gradient(right left, #f8f8f8, #f3f3f3);
    background: -moz-linear-gradient(right left, #f8f8f8, #f3f3f3);
    background: -o-linear-gradient(right left, #f8f8f8, #f3f3f3);
    background: linear-gradient(to left right, #f8f8f8, #f3f3f3);
    -webkit-box-shadow: 0 0 3px #cccccc, inset 0 -1px 1px #e9e9e9, 0 1px 1px rgba(0, 0, 0, 0.12), inset 0 1px 1px white;
    -moz-box-shadow: 0 0 3px #cccccc, inset 0 -1px 1px #e9e9e9, 0 1px 1px rgba(0, 0, 0, 0.12), inset 0 1px 1px white;
    box-shadow: 0 0 3px #cccccc, inset 0 -1px 1px #e9e9e9, 0 1px 1px rgba(0, 0, 0, 0.12), inset 0 1px 1px white;
    padding: 20px;
    border-radius: 5px;
    border-top: 1px solid #e7e7e7;
    overflow: hidden;
}
.comments .comments-simple-list{
    max-height: 500px;
    overflow: hidden;
    margin-left: 0;
}
.comments .comments-simple-list .comment-content{
    background: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    border-top:none;
    padding-top: 10px;
    padding-bottom: 15px;
}
.comments .children .comment-content {
    background: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    border-top:none;
}

.comments .comment-date {
    font-size: 14px;
    color: #979797;
    margin-left: 8px;
    font-weight: normal;
    display: inline-block;
}

.comments .comment-author-name {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 0 0;
}

/* Apply on 2nd level comments list */
.comments-list .children.level-2 {
    /*padding-left: 78px;*/
}
.comments-list .children {
    margin: 0;
    padding-left: 55px;
}
.children.level-1{
    padding-left: 20px;
    padding-right: 20px;
}
.comments .children.level-1 .comment-content{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 35px;
}
.comments-list .comment {
    position: relative;
}
.comments-list .comment-level-1{
    margin: 0 0 20px 0;
}
.comments-simple-list .comment-level-1{
    margin: 0;
}
.comments-simple-list .comment-level-1:first-child{
    margin-top: 10px;
}
.comments-simple-list .comment-level-1:last-child{
    margin-bottom: 5px;
}
.comment-body{
    color: #6c7a86;
}
.workflow-comments{
    padding-bottom: 20px;
}
.workflow-comments .comment:first-child>.comment-content{
    padding-top: 20px;
}
.comments ul,
.comments ol {
    list-style-type: none;
}

.title-block .title-separator {
    background: url("../images/title-pattern.png");
    height: 5px;
    overflow: hidden;
    margin-top: 8px;
}

.title-block .h3-body-title {
    float: left;
    margin: 0 20px 20px 0;
}

.comment-action-buttons {
    float: right;
}

.comment-action-buttons a {
    font-weight: normal;
    font-size: 14px;
    color: #a4acb1;
    padding: 5px;
}

.comment-action-buttons a:hover {
    text-decoration: none;
    color: #0082c6;
}

.comment-action-buttons a:focus {
    outline: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
}


.comment-box {display: none}
.comment-box_simple{display: block;margin-bottom: 15px}
.children .comment-box,.comment .comment-box {display: block}
.comment-box {
    margin-top: 15px;
}

.comment-box textarea {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: auto;
}

.comment-box .field-commentmodel-content{
    margin-bottom: 5px;
}
.comment-box .file-input{
    display: block;
    position: initial;
margin: 0;
}

.comment-box .btn-file{
    position: absolute;
    right: 8px;
    bottom: 3px;
    cursor: pointer;
}
.comment-box .file-input input[type=file]{
    position: absolute;
    top: 0;
    left: -420px;
    min-width: inherit;
    min-height: inherit;
    font-size: 16px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}
.comment-box .btn-file i{
    cursor: pointer;
    padding-right: 2px;
}
.comment-box .btn-file:hover>i{
    color:  #00aaed !important;
}
.comment-box .button-container{
    position: relative;
}


#cancel-reply {
    display: none;
    color: #008cc9;
}

#cancel-reply:hover {
    text-decoration: none;
    color: #187BA7;
}
